<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.onlinepay.manage.dao.payment.IQuickOrderDao">
  <resultMap id="BaseResultMap" type="com.onlinepay.manage.dao.payment.entity.KjTradeOrder">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="version" jdbcType="BIGINT" property="version" />
    <result column="platform_code" jdbcType="VARCHAR" property="platformCode" />
    <result column="platform_order_no" jdbcType="VARCHAR" property="platformOrderNo" />
    <result column="channel_no" jdbcType="VARCHAR" property="channelNo" />
    <result column="merchant_no" jdbcType="VARCHAR" property="merchantNo" />
    <result column="amount" jdbcType="BIGINT" property="amount" />
    <result column="order_no" jdbcType="VARCHAR" property="orderNo" />
    <result column="apply_order_no" jdbcType="VARCHAR" property="applyOrderNo" />
    <result column="goodsname" jdbcType="VARCHAR" property="goodsname" />
<!--     <result column="goodsdetail" jdbcType="VARCHAR" property="goodsdetail" /> -->
    <result column="payer_account_no" jdbcType="VARCHAR" property="payerAccountNo" />
    <result column="payer_person_id" jdbcType="VARCHAR" property="payerPersonId" />
    <result column="payer_phone" jdbcType="VARCHAR" property="payerPhone" />
    <result column="settle_type" jdbcType="VARCHAR" property="settleType" />
    <result column="sms_code" jdbcType="VARCHAR" property="smsCode" />
    <result column="trade_status" jdbcType="VARCHAR" property="tradeStatus" />
    <result column="settle_status" jdbcType="VARCHAR" property="settleStatus" />
    <result column="TRADE_DATE" jdbcType="TIMESTAMP" property="tradeDate" />
    <result column="platform_trade_date" jdbcType="TIMESTAMP" property="platformTradeDate" />
    <result column="notice_date" jdbcType="TIMESTAMP" property="noticeDate" />
    <result column="notice_status" jdbcType="VARCHAR" property="noticeStatus" />
    <result column="platform_merchant_no" jdbcType="VARCHAR" property="platformMerchantNo" />
    <result column="merchant_fee" jdbcType="BIGINT" property="merchantFee" />
    <result column="channel_fee" jdbcType="BIGINT" property="channelFee" />
    <result column="platform_fee" jdbcType="BIGINT" property="platformFee" />
    <result column="fix_fee" jdbcType="BIGINT" property="fixFee" />
    <result column="notes" jdbcType="VARCHAR" property="notes" />

    <result column="name" jdbcType="VARCHAR" property="channelName" />
    <result column="merchant_name" jdbcType="VARCHAR" property="merchantName" />


  </resultMap>
  <sql id="Base_Column_List">
    kto.id, kto.create_date, kto.update_date, kto.version, kto.platform_code, kto.platform_order_no, kto.channel_no,
    kto.merchant_no, kto.amount, kto.order_no, kto.apply_order_no, kto.goodsname,  kto.payer_account_no, kto.payer_person_id,
    kto.payer_phone, kto.settle_type, kto.sms_code, kto.trade_status, kto.settle_status, kto.trade_date,
    kto.platform_trade_date, kto.notice_date, kto.notice_status, kto.platform_merchant_no, kto.merchant_fee,
    kto.channel_fee, kto.platform_fee, kto.fix_fee,kto.notes,
    cha.name,mer.merchant_name
  </sql>
  <sql id="PageBaseWhere">
    <if test="qo.id != null">
      AND kto.id = #{qo.id}
    </if>
    <if test="qo.channelNo != null">
      AND kto.channel_no = #{qo.channelNo}
    </if>
    <if test="qo.merchantNo != null">
      AND kto.merchant_no = #{qo.merchantNo}
    </if>
    <!--<if test="qo.tradeType != null">-->
      <!--AND kto.TRADE_TYPE = #{qo.tradeType}-->
    <!--</if>-->
    <if test="qo.orderNo != null">
      AND kto.order_no = #{qo.orderNo}
    </if>
    <if test="qo.applyOrderNo != null">
      AND kto.apply_order_no = #{qo.applyOrderNo}
    </if>
    <if test="qo.createDate != null">
      AND TIMESTAMPDIFF(DAY,#{qo.createDate},DATE_FORMAT(kto.create_date,'%Y-%m-%d')) &gt;= 0
    </if>
    <if test="qo.updateDate != null">
      AND TIMESTAMPDIFF(DAY,#{qo.updateDate},DATE_FORMAT(kto.create_date,'%Y-%m-%d')) &lt;= 0
    </if>
    <if test="qo.tradeStatus != null">
      AND kto.trade_status = #{qo.tradeStatus}
    </if>

    <if test="qo.channelName != null">
      AND cha.name = #{qo.channelName}
    </if>
    <if test="qo.merchantName != null">
      AND mer.merchant_name = #{qo.merchantName}
    </if>
    <if test="qo.platformCode != null">
      AND kto.platform_code = #{qo.platformCode}
    </if>
  </sql>
  <sql id="LeftJoinSql">
    LEFT JOIN channel AS cha ON kto.channel_no = cha.channel_no
    LEFT JOIN merchant AS mer ON kto.merchant_no = mer.merchant_no
  </sql>
  <!--根据查询条件查询所有-->
  <select id="selectAllByEntity" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from kj_trade_order AS kto
    <include refid="LeftJoinSql"/>
    where 1 = 1
    <include refid="PageBaseWhere" />
  </select>
  <!--分页查询-->
  <select id="selectAllByPageEntity" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from kj_trade_order AS kto
    <include refid="LeftJoinSql"/>
    where 1 = 1
    <include refid="PageBaseWhere" />
    ORDER BY kto.id DESC
    LIMIT #{start},#{pageSize}
  </select>
  <!--根据订单类型分组查询统计-->
  <select id="selectGroupBy" resultType="java.util.Map">
    SELECT
    <if test="qo.tradeStatus != null">
 	kto.trade_status, 
 	</if>
    COUNT(kto.id) AS CLOCOUNT,
    SUM(kto.amount) AS CLOSUM,
    SUM(kto.channel_fee) AS SUM_CHANNEL_FEE,
    SUM(kto.platform_fee) AS SUM_PLATFORM_FEE,
    SUM(kto.merchant_fee) AS SUM_MERCHANT_FEE
    FROM kj_trade_order AS kto
    <include refid="LeftJoinSql"/>
    where 1 = 1
    <include refid="PageBaseWhere" />
    <if test="qo.tradeStatus != null">
	group by trade_status
    </if>
  </select>

  <select id="selectCount" resultType="java.lang.Integer">
    SELECT
    COUNT(kto.id)
    FROM kj_trade_order AS kto
    <include refid="LeftJoinSql"/>
    WHERE 1=1
    <include refid="PageBaseWhere" />
  </select>



</mapper>